.MealList li{
    font-weight: 200;
    padding: 5px;
    list-style: none;
}

.mealButton {
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    letter-spacing: 1px;
    text-transform: lowercase;
    transition: 300ms;
    display: contents;
}

.mealButtons {
    margin-bottom: 30px;
}
