.MealList li{
    font-weight: 200;
    padding: 5px;
    list-style: none;
}

.mealButton {
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    letter-spacing: 1px;
    text-transform: lowercase;
    transition: 300ms;
    display: contents;
}

.mealButtons {
    margin-bottom: 30px;
}

.SearchResults {
    max-height: 30vh;
    overflow-x: auto;
    display: none;
    position: relative;
    z-index: 1;
    background-color: #fbfbfb;
}

.show {
    display: block;
}
.hide {
    display: none;
}
