.Table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
/*th {*/
    /*border-bottom: 1px solid #060606;*/
/*}*/
th, td {
    font-size: 0.75rem;
    border: 1px solid #326D65;
    /*border-left: 1px solid #060606;*/
    width: 25%;
}

th:first-child {
    border-left: none;
}
td:first-child {
    border-left: none;
}

th:last-child {
    border-right: none;
}
td:last-child {
    border-right: none;
}

