.Content {
    padding: 0 20px;
}

.SideMenu {
    border-right: 3px solid #326D65;
    padding-top: 5vh;
    height: 70vh;
    overflow-x:auto;
}

.SearchArea {
    padding-bottom: 2vh;
    border-bottom: 2px solid #326D65;
}
.Main {
    padding: 5vh 2vw 8vh 5vw;
    margin-bottom: 5vh;
    height: 70vh;
    overflow-x:auto;
}

.SearchResults {
    max-height: 30vh;
    overflow-x: auto;
    display: none;
    position: relative;
    z-index: 1;
    background-color: #fbfbfb;
}

.show {
    display: block;
}
.hide {
    display: none;
}

.SearchResults li {
    width: 95%;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: left;
    color: black;
    font-weight: 200;
    text-decoration: none;
    padding:0.5vh 1vh;
    display: block;
    cursor: pointer;
}

.SearchResults li:hover {
    background-color: #3d978e
}


p {
    margin-top: 10px;
}

h4 {
    margin-top: 5vh;
}

input {
    padding: 3px;
}

.NameInput {
    width: 80%;
    margin-top: 10px;
}

.TimeInput {
    width: 20%;
    margin: 8px 0 8px 0;
}

.Table th,
.Table td {
    border: 1px solid lightgray;
}

button {
    margin-left: 5px;
    line-height: 1 !important;
}